
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: sans-serif;
}

.card {
  position: relative;
  width: 350px;
  height: 450px;
  color: white;
}

.card-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* tỷ lệ ảnh ko bị biến dạng */
}

.category {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #c53228;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.side-icons {
  position: absolute;
  top: 120px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  background: #d1453b;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.icon:hover{
    background-color: #c53228;
}
.line {
  width: 2px;
  height: 20px;
  background: white;
  opacity: 0.8;
}

.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card-text h3 {
  margin: 0;
  font-size: 20px;
}

.card-text p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #ccc;
}
