.fade-in,
.change-color,
.grow,
.shrink,
.rotate,
.square-to-circle,
.insert-border {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    /* căn ngang */
    align-items: center;
    /* căn dọc */
    margin: 10px;
    font-family: sans-serif;
    font-weight: bold;
}



.change-color {
    background-color: rgb(187, 222, 116);
    transition: transform 2s ease;
}

.change-color:hover {
    background-color: rgb(127, 176, 235);
}

.grow {
    background-color: rgb(88, 206, 235);
    transition: transform 2s ease;
}

.grow:hover {
    transform: scale(1.3);

}

.shrink {
    background-color: rgb(192, 111, 226);
    transition: transform 2s ease;
}

.shrink:hover {
    transform: scale(0.7);
}

.rotate {
    background-color: rgb(187, 65, 84);
    transition: transform 2s ease;
}

.rotate:hover {
    transform: rotate(-30deg);
}

/* .square-to-circle{
background-color: rgb(187, 65, 84);
transition: border-radius 2s ease;
}

.square-to-circle:hover{
    border-radius: 70px;
    transition:2s;
} */

.square-to-circle {
    background-color: rgb(234, 195, 200);
    transition: border-radius 2s ease;
}

.square-to-circle:hover {
    border-radius: 70px;
    transition: 2s;
}

.fade-in {
    background-color: rgba(221, 71, 71, 0.3);
    opacity: 0.4;
    transition: transform 2s;
}

.fade-in:hover {
    opacity: 1;
}

.insert-border {
    background-color: rgb(142, 175, 203);
    transition: transform 2s ease;
    position: relative;
}

.insert-border:hover {
    transform: scale(0.8);

}

.box {
    width: 150px;
    height: 150px;
    background-color: green;
    margin: 10px;
}

.relative .insert-border {
    top: -160px;
}